@charset "UTF-8";
@font-face {
  font-family: "Mukta-Bold";
  src: url("../assets/ttf/Mukta-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mukta-Regular";
  src: url("../assets/ttf/Mukta-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Mukta-Light";
  src: url("../assets/ttf/Mukta-Light.ttf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f5f6f7;
  font-family: "Mukta-Regular";
}

a {
  text-decoration: none;
}

#cta {
  background-color: #0058f9;
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.5s;
}
#cta:hover {
  background-color: #0058b5;
  color: #fff;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
}

.encabezado__productos, .bg-p .interruptores__title, .bg-p .iluminacion__title, .bg-p .fabricacion__title {
  font-size: 64px;
  line-height: 1em;
  width: 60%;
  color: #fff;
  font-weight: 700;
  margin-top: 0px;
  margin-left: 30px;
  padding-top: 10%;
  letter-spacing: 2px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
}
.header__content .menu {
  background-color: #fff;
  color: #000;
  height: 80px;
}
.header__content .menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__content .menu__container a .menu__logo {
  padding: 0px;
}
.header__content .menu__container .menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}
.header__content .menu__container .menu__links .menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}
.header__content .menu__container .menu__links .menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}
.header__content .menu__container .menu__links .menu__item .menu__link {
  color: #000;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}
.header__content .menu__container .menu__links .menu__item .menu__link:hover {
  color: #0058b5;
  font-weight: 600;
}
.header__content .menu__container .menu__links .menu__item .menu__link .menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
  margin-top: -5px;
}
.header__content .menu__container .menu__links .menu__item--show .menu__nesting {
  list-style: none;
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transform: translateY(100%);
  background-color: #eee;
}
.header__content .menu__container .menu__links .menu__item--show .menu__nesting .menu__inside .menu__link--inside {
  padding: 30px 100px 30px 20px;
}
.header__content .menu__container .menu__links .menu__item--show .menu__nesting .menu__inside .menu__link--inside:hover {
  background-color: #f5f6f7;
}
.header__content .menu__container .menu__boton {
  background-color: #fff;
  padding: 12px 32px;
  text-align: center;
  color: #0058b5;
  border: solid 2px #0058b5;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.8s;
}
.header__content .menu__container .menu__boton:hover {
  background-color: #0058b5;
  color: #fff;
}
.header__content .menu__container .menu__boton::after {
  content: "❯";
  color: rgba(255, 255, 255, 0.6);
  margin-left: -5px;
  transition: all 0.5s;
}
.header__content .menu__container .menu__boton:hover::after {
  content: "❯";
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
}
.header__content .menu__container .menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  display: none;
}
.header__content .menu__container .menu__hamburguer .menu__img {
  display: block;
  width: 36px;
}

@media (max-width: 768px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .header a .menu__logo {
    max-width: 80%;
  }
  .header .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }
  .header .menu__links--show {
    transform: unset;
    width: 100%;
  }
  .header .menu__links .menu__item {
    --clip:0;
    overflow: hidden;
  }
  .header .menu__links .menu__item--active {
    --transform: rotate(0);
    --background: #ddd;
  }
  .header .menu__links .menu__item--show {
    background-color: var(--background);
  }
  .header .menu__links .menu__item--show .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
  .header .menu__links .menu__item--show .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
  .header .menu__links .menu__item--show .menu__link--inside .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }
  .header .menu__links .menu__item--show .menu__link--inside .menu__arrow .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }
  .header .menu__boton {
    display: none;
  }
  .header .menu__hamburguer {
    display: flex;
  }
}
@media (max-width: 576px) {
  body {
    max-width: 576px;
  }
  /* menu */
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  .menu__logo {
    max-width: 80%;
  }
  .menu__hamburguer {
    display: flex;
  }
  .menu__item {
    --clip:0;
    overflow: hidden;
  }
  .menu__item--active {
    --transform: rotate(0);
    --background: #ddd;
  }
  .menu__item--show {
    background-color: var(--background);
  }
  .menu__links {
    position: fixed;
    max-width: 500px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }
  .menu__links--show {
    transform: unset;
    width: 100%;
  }
  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }
  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }
  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }
  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
  .menu__boton {
    display: none;
  }
}
/* PAGE INICIO */
main .portada {
  text-transform: uppercase;
  height: 600px;
  background: linear-gradient(125deg, rgba(0, 0, 0, 0.9) 50%, transparent), url(../assets/img/foto\ de\ portada.jpg);
  background-size: cover;
}
main .portada__title {
  font-size: 64px;
  line-height: 1em;
  width: 60%;
  color: #fff;
  font-weight: 700;
  margin-top: 0px;
  margin-left: 60px;
  padding-top: 10%;
  letter-spacing: 2px;
}
main .portada__cta {
  display: inline-block;
  margin-top: 20px;
  margin-left: 60px;
  padding: 15px 30px;
  text-align: center;
}
main .servicios__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  max-width: 1230px;
  margin: -50px auto 50px auto;
  background-color: #eee;
  border: solid #eee 1px;
}
main .servicios__card .card {
  background-color: #fff;
  padding: 30px 50px;
  border-color: #eee;
}
main .servicios__card .card__header {
  position: relative;
}
main .servicios__card .card__header-img {
  width: 25%;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}
main .servicios__card .card__title {
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 1.2;
}
main .servicios__card .card__description {
  margin-bottom: 30px;
  font-size: 16px;
}
main .sectores {
  background-color: #f5f6f7;
  margin: 88px;
}
main .sectores .sector__title {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 40px;
}
main .sectores .sector__images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  justify-items: center;
}
main .sectores .sector__images img {
  width: 35%;
}
main .slider__productos {
  text-align: left;
  margin-bottom: 110px;
}
main .slider__productos .slider__title {
  font-size: 64px;
  margin-left: 65%;
  color: #fff;
}
main .slider__productos .slider__subtitle {
  font-size: 36px;
  font-weight: 200;
  margin-left: 65%;
  font-family: Mukta-Light;
  color: #fff;
}
main .slider__productos .slider__cta {
  display: inline-block;
  margin-top: 20px;
  margin-left: 65%;
  padding: 15px 30px;
}
main .snosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1230px;
  height: 50vh;
  margin: 88px auto 44px auto;
  gap: 1px;
}
main .snosotros__img .snosotros__logo {
  width: 90%;
  padding: 5px;
}
main .snosotros__content {
  margin-left: 20px;
}
main .snosotros__content .snosotros__title {
  font-size: 44px;
  margin-bottom: 25px;
  line-height: 1.2;
}
main .snosotros__content .snosotros__description {
  margin-bottom: 15px;
  font-size: 16px;
}
main .snosotros__content .snosotros__cta {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  display: block;
  overflow: auto;
  position: absolute;
}
main .marcas {
  margin: 0;
  border-top: solid 1px #eee;
  background-color: #fff;
  padding: 88px 0;
}
main .marcas__title {
  margin-left: 60px;
  font-size: 44px;
  margin-bottom: 24PX;
}
main .marcas__images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
  max-width: 92%;
  margin: 0px auto 0px auto;
  justify-content: space-between;
}
main .marcas__images img {
  width: 180px;
  /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
  margin: -20px 0;
}
@media (max-width: 768px) {
  main .portada {
    text-transform: uppercase;
    max-width: 768px;
    height: 500px;
    background: linear-gradient(125deg, rgba(0, 0, 0, 0.9) 25%, transparent), url(./assets/img/foto\ de\ portada.jpg);
    background-size: cover;
    background-position: right;
  }
  main .portada__title {
    font-size: 36px;
    line-height: 1em;
    width: 50%;
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 5%;
    padding-top: 15%;
    letter-spacing: 2px;
    line-height: 1.2em;
  }
  main .portada__cta {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
    padding: 15px 30px;
    text-align: center;
  }
  main .card {
    background-color: #fff;
    padding: 50px 100px;
    border-color: #eee;
  }
  main .card__title {
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  main .card__description {
    margin-bottom: 30px;
    font-size: 18px;
  }
  main .card__header-img {
    width: 40%;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main .card__header {
    position: relative;
  }
  main .servicios__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 768px;
    margin: -50px auto 50px auto;
    gap: 20px;
    background-color: #eee;
    border: solid #eee 1px;
    padding: 40px 20px;
  }
  main .sectores {
    background-color: #f5f6f7;
    margin: 44px 14px;
  }
  main .sector__title {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    font-size: 36px;
  }
  main .sector__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  main .sector__images img {
    width: 60%;
  }
  main .carousel {
    display: none;
  }
  main .snosotros {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 768px;
    height: auto;
    margin: 120px 5% 150px 5%;
    gap: 1px;
  }
  main .snosotros__logo {
    display: none;
  }
  main .snosotros__content {
    margin: 0;
  }
  main .snosotros__title {
    font-size: 44px;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  main .snosotros__description {
    margin-bottom: 15px;
    font-size: 16px;
  }
  main .snosotros__cta {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    display: block;
    overflow: auto;
    position: absolute;
  }
  main .marcas {
    margin: 0;
    border-top: solid 1px #eee;
    background-color: #fff;
    padding: 44px 5%;
  }
  main .marcas__title {
    font-size: 36px;
    margin: 24px 0 24px 0;
  }
  main .marcas__images {
    display: grid;
    max-width: 768px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto 0px auto;
    justify-content: space-between;
  }
  main .marcas__images img {
    width: 100%;
    /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
    margin: -10px 0;
  }
}
@media (max-width: 576px) {
  main .portada {
    text-transform: uppercase;
    max-width: 576px;
    height: 500px;
    background: linear-gradient(125deg, rgba(0, 0, 0, 0.9) 25%, transparent), url(./assets/img/foto\ de\ portada.jpg);
    background-size: cover;
    background-position: right;
  }
  main .portada__title {
    font-size: 36px;
    line-height: 1em;
    width: 50%;
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 5%;
    padding-top: 15%;
    letter-spacing: 2px;
    line-height: 1.2em;
  }
  main .portada__cta {
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
    padding: 15px 30px;
    text-align: center;
  }
  main .card {
    background-color: #fff;
    padding: 30px 50px;
    border-color: #eee;
  }
  main .card__title {
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  main .card__description {
    margin-bottom: 30px;
    font-size: 18px;
  }
  main .card__header-img {
    width: 40%;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  main .card__header {
    position: relative;
  }
  main .servicios__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 480px;
    margin: -50px auto 50px auto;
    gap: 20px;
    background-color: #eee;
    border: solid #eee 1px;
    padding: 40px 20px;
  }
  main .sectores {
    background-color: #f5f6f7;
    margin: 0 20px;
  }
  main .sector__title {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    font-size: 24px;
  }
  main .sector__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
  main .sector__images img {
    width: 60%;
  }
  main .carousel {
    display: none;
  }
  main .snosotros {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 480px;
    height: auto;
    margin: 80px 5% 120px 5%;
    gap: 1px;
  }
  main .snosotros__logo {
    display: none;
  }
  main .snosotros__content {
    margin: 0;
  }
  main .snosotros__title {
    font-size: 44px;
    margin-bottom: 25px;
    line-height: 1.2;
  }
  main .snosotros__description {
    margin-bottom: 15px;
    font-size: 16px;
  }
  main .snosotros__cta {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    display: block;
    overflow: auto;
    position: absolute;
  }
  main .marcas {
    margin: 0;
    border-top: solid 1px #eee;
    background-color: #fff;
    padding: 44px 5%;
  }
  main .marcas__title {
    font-size: 28px;
    margin: 0 0 24px 0;
  }
  main .marcas__images {
    display: grid;
    max-width: 480px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px auto 0px auto;
    justify-content: space-between;
  }
  main .marcas__images img {
    width: 100%;
    /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
    margin: -10px 0;
  }
}

/* PAGINAS DE NOSOTROS */
/* Seccion portada */
.sobren {
  height: 85vh;
  background-image: url(../assets/img/Sobre\ Nosotros.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobren__title {
  font-size: 89px;
  line-height: 1em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  max-width: 100%;
  margin: 0px auto 0px auto;
  background-color: #eee;
  /* Seccion sobre nosotros */
}
.nosotros__content {
  background-color: #f5f6f7;
  padding: 150px 50px;
}
.nosotros__content .nosotros__title {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 1.1;
}
.nosotros__content .nosotros__description {
  margin-bottom: 30px;
  font-size: 16px;
}
.nosotros #segunda__columna {
  background: url(../assets/img/Fondo\ -\ Por\ qué\ nosotros.png);
}

@media (max-width: 768px) {
  /* PAGINAS DE NOSOTROS */
  /* Seccion portada */
  .sobren {
    height: 65vh;
  }
  .sobren__title {
    font-size: 44px;
  }
  /* Seccion sobre nosotros */
  .nosotros__content {
    padding: 80px 50px;
  }
  .nosotros__title {
    font-size: 44px;
  }
  .nosotros__description {
    font-size: 18px;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  /* PAGINAS DE NOSOTROS */
  /* Seccion portada */
  .sobren {
    height: 65vh;
  }
  .sobren__title {
    font-size: 44px;
  }
  /* Seccion sobre nosotros */
  .nosotros__content {
    padding: 80px 50px;
  }
  .nosotros__title {
    font-size: 44px;
  }
  .nosotros__description {
    font-size: 18px;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 480px;
  }
}
/* PAGINAS DE PRODUCTOS*/
/* color de fondo página */
.bg-p {
  background-color: #fff;
  /* grid pag productos */
  /* Seccion Preguntas frecuentes */
}
.bg-p .fabricacion {
  height: 45vh;
  background-image: url(../assets/img/Fabricación\ -\ Bandeja\ portacable.png);
  background-size: cover;
}
.bg-p .iluminacion {
  height: 45vh;
  background-image: url(../assets/img/Iluminación\ -\ Panel\ LED.png);
  background-size: cover;
}
.bg-p .interruptores {
  height: 45vh;
  background-image: url(../assets/img/Fabricación\ -\ Tablero\ eléctrico.png);
  background-size: cover;
}
.bg-p .contenedor__productos {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  margin-top: 64px;
  margin-bottom: 64px;
  /* contenedor izquierdo */
  /* productos */
}
.bg-p .contenedor__productos .productos__content {
  margin-left: 30px;
  /* Módulo brochure */
  /* Módulo contacto */
}
.bg-p .contenedor__productos .productos__content-title {
  font-size: 28px;
}
.bg-p .contenedor__productos .productos__content .productos__atajo {
  padding: 10px 0;
}
.bg-p .contenedor__productos .productos__content .productos__atajo-items {
  text-decoration: none;
  list-style-type: none;
  color: #000;
  line-height: 1.5;
  border-bottom: solid 1px #e1e1e1;
  padding: 10px 0;
  font-size: 18px;
  width: 80%;
}
.bg-p .contenedor__productos .productos__content .productos__atajo-items a {
  color: #000;
  transition: all 0.5s;
}
.bg-p .contenedor__productos .productos__content .productos__atajo-items a:hover {
  color: #0058b5;
  font-weight: 500;
}
.bg-p .contenedor__productos .productos__content .contenedor__brochure {
  background-color: #f5f6f7;
  padding: 40px 60px 40px 60px;
  width: 80%;
  height: 220px;
  border-radius: 2px;
  margin-top: 40px;
}
.bg-p .contenedor__productos .productos__content .contenedor__brochure .brochure {
  margin-bottom: 10px;
  text-align: center;
  font-size: 26px;
}
.bg-p .contenedor__productos .productos__content .contenedor__brochure .descargar__catalogo {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}
.bg-p .contenedor__productos .productos__content .contenedor__brochure .descargar__pdf {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  letter-spacing: 1px !important;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p {
  background-color: #0058b5;
  padding: 40px;
  padding-bottom: 15px;
  width: 80%;
  height: auto;
  border-radius: 2px;
  margin-top: 40px;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .contacto__icono-p {
  position: relative;
  text-align: center;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .contacto__icono-p .contacto__img-p {
  width: 40%;
  border-radius: 2px;
  margin-bottom: 20px;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .contacto__title-p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  line-height: 2rem;
  letter-spacing: 1px;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .contacto__description-p {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .contacto__description-p span {
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .contacto__numero-p {
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}
.bg-p .contenedor__productos .productos__content .contenedor__contacto-p .efecto__linea {
  height: 2px;
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 30px;
}
.bg-p .contenedor__productos .productos__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.3fr 0.3fr;
  font-size: 28px;
  margin-right: 30px;
  gap: 0 30px;
  /* Galeria de productos - card */
}
.bg-p .contenedor__productos .productos__cards .block__line {
  grid-column: 1/4;
}
.bg-p .contenedor__productos .productos__cards .pcard {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  width: 280px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.5s;
}
.bg-p .contenedor__productos .productos__cards .pcard:hover {
  transform: scale(1.05) translateY(-4px);
}
.bg-p .contenedor__productos .productos__cards .pcard__header {
  position: relative;
  text-align: center;
}
.bg-p .contenedor__productos .productos__cards .pcard__header-img {
  height: 50%;
  width: 64%;
  border-radius: 2px;
}
.bg-p .contenedor__productos .productos__cards .pcard__title {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.3em;
}
.bg-p .contenedor__productos .productos__cards .pcard__description {
  margin-bottom: 10px;
  font-size: 14px;
}
.bg-p .contenedor__accordion {
  background-color: #f5f6f7;
  height: 60vh;
}
.bg-p .contenedor__accordion div .title__pf {
  font-size: 28px;
  margin-left: 30px;
  padding-top: 60px;
}
.bg-p .contenedor__accordion .seccion__accordion {
  max-width: 97%;
  margin-top: 20px;
  margin-bottom: 120px;
}
.bg-p .contenedor__accordion .seccion__accordion .accordion-body {
  color: #0058b5;
  background-color: #f5f6f7;
  border: solid #eee 1px;
}

@media (max-width: 768px) {
  /* PAGINAS DE PRODUCTOS*/
  /* color de fondo página */
  .bg-p {
    background-color: #fff;
  }
  /* grid pag productos */
  .contenedor__productos {
    display: inline-block;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  /* contenedor izquierdo */
  .productos__content {
    margin: 0 20px;
  }
  .productos__atajo-items {
    width: 100%;
  }
  /* Módulo brochure */
  .contenedor__brochure {
    padding: 40px 25% 40px 25%;
    width: 100%;
    height: 240px;
    border-radius: 0px;
    margin-top: 20px;
  }
  .descargar__pdf {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    letter-spacing: 1px !important;
  }
  /* Módulo contacto */
  .contenedor__contacto-p {
    padding: 40px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-top: 0;
  }
  .contacto__icono-p {
    position: relative;
    text-align: center;
  }
  .contacto__description-p {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .contacto__description-p span {
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .efecto__linea {
    height: 2px;
    background-color: #fff;
    margin: 0 10px 30px 10px;
  }
  /* productos */
  .productos__cards {
    display: inline-block;
    font-size: 28px;
    margin-right: 40px;
  }
  .productos__cards .block__line {
    display: block;
  }
  .block__line {
    margin: 24px 20px 20px 24px;
  }
  .fabricacion {
    height: 45vh;
    background-image: url(./assets/img/Fabricación\ -\ Bandeja\ portacable.png);
    background-size: cover;
  }
  .iluminacion {
    height: 45vh;
    background-image: url(./assets/img/Iluminación\ -\ Panel\ LED.png);
    background-size: cover;
  }
  .interruptores {
    height: 45vh;
    background-image: url(./assets/img/Fabricación\ -\ Tablero\ eléctrico.png);
    background-size: cover;
  }
  .fabricacion__title, .iluminacion__title, .interruptores__title {
    font-size: 44px;
    line-height: 1em;
    width: auto;
    margin-left: 20px;
    padding: 25% 0;
    letter-spacing: 2px;
  }
  /* Galeria de productos - card */
  .pcard {
    background-color: #fff;
    margin: 24px 20px 20px 20px;
    padding: 60px;
    width: 100%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.5s;
  }
  .pcard:hover {
    transform: scale(1) translateY(-4px);
  }
  .pcard__title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.3em;
  }
  .pcard__description {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .pcard__header-img {
    height: 50%;
    width: 60%;
    border-radius: 2px;
  }
  .pcard__header {
    position: relative;
    text-align: center;
  }
  /* Seccion preguntas frecuentes con bootstrap */
  .seccion__accordion {
    max-width: 97%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .contenedor__accordion {
    height: 70vh;
  }
}
@media (max-width: 576px) {
  /* PAGINAS DE PRODUCTOS*/
  /* color de fondo página */
  .bg-p {
    background-color: #fff;
  }
  /* grid pag productos */
  .contenedor__productos {
    display: inline-block;
    margin-top: 64px;
    margin-bottom: 64px;
  }
  /* contenedor izquierdo */
  .productos__content {
    margin: 0 20px;
  }
  .productos__atajo-items {
    width: 100%;
  }
  /* Módulo brochure */
  .contenedor__brochure {
    padding: 40px 25% 40px 25%;
    width: 100%;
    height: 240px;
    border-radius: 0px;
    margin-top: 20px;
  }
  .descargar__pdf {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    letter-spacing: 1px !important;
  }
  /* Módulo contacto */
  .contenedor__contacto-p {
    padding: 40px;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    border-radius: 0px;
    margin-top: 0;
  }
  .contacto__icono-p {
    position: relative;
    text-align: center;
  }
  .contacto__description-p {
    text-align: center;
    font-size: 16px;
    color: #fff;
  }
  .contacto__description-p span {
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  .efecto__linea {
    height: 2px;
    background-color: #fff;
    margin: 0 10px 30px 10px;
  }
  /* productos */
  .productos__cards {
    display: inline-block;
    font-size: 28px;
    margin-right: 40px;
  }
  .productos__cards .block__line {
    display: block;
  }
  .block__line {
    margin: 24px 20px 20px 24px;
  }
  .fabricacion {
    height: 45vh;
    background-image: url(./assets/img/Fabricación\ -\ Bandeja\ portacable.png);
    background-size: cover;
  }
  .iluminacion {
    height: 45vh;
    background-image: url(./assets/img/Iluminación\ -\ Panel\ LED.png);
    background-size: cover;
  }
  .interruptores {
    height: 45vh;
    background-image: url(./assets/img/Fabricación\ -\ Tablero\ eléctrico.png);
    background-size: cover;
  }
  .fabricacion__title, .iluminacion__title, .interruptores__title {
    font-size: 44px;
    line-height: 1em;
    width: auto;
    margin-left: 20px;
    padding: 25% 0;
    letter-spacing: 2px;
  }
  /* Galeria de productos - card */
  .pcard {
    background-color: #fff;
    margin: 24px 20px 20px 20px;
    padding: 60px;
    width: 100%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform 0.5s;
  }
  .pcard:hover {
    transform: scale(1) translateY(-4px);
  }
  .pcard__title {
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.3em;
  }
  .pcard__description {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .pcard__header-img {
    height: 50%;
    width: 60%;
    border-radius: 2px;
  }
  .pcard__header {
    position: relative;
    text-align: center;
  }
  /* Seccion preguntas frecuentes con bootstrap */
  .seccion__accordion {
    max-width: 97%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .contenedor__accordion {
    height: 45vh;
  }
}
/* PAGINAS DE CONTACTO */
.contacto {
  margin-top: 44px;
  margin-bottom: 64px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 4fr;
  grid-template-areas: "contacto__title    formulario" "contacto__phone    formulario" "contacto__mail     formulario" "contacto__oficina  formulario" "contacto__planta   formulario" "contacto__punto    formulario";
  /* Formulario */
}
.contacto__title {
  grid-area: contacto__title;
  line-height: 1.1;
  margin: 30px 30px -40px 30px;
  font-size: 44px;
  height: 170px;
}
.contacto__title .espaciado {
  display: block;
}
.contacto__phone {
  display: flex;
  margin: 15px 30px;
}
.contacto__phone .contacto__icono {
  font-size: 40px;
  margin-right: 20px;
  color: #0058b5;
}
.contacto__phone div .contacto__dato {
  grid-area: contacto__dato;
  font-size: 26px;
  margin-top: -10px;
}
.contacto__phone div .contacto__description {
  grid-area: contacto__description;
  font-size: 18px;
  margin-top: -10px;
}
.contacto__mail {
  display: flex;
  margin: 15px 30px;
}
.contacto__mail .contacto__icono {
  font-size: 40px;
  margin-right: 20px;
  color: #0058b5;
}
.contacto__mail div .contacto__dato {
  grid-area: contacto__dato;
  font-size: 26px;
  margin-top: -10px;
}
.contacto__mail div .contacto__description {
  grid-area: contacto__description;
  font-size: 18px;
  margin-top: -10px;
}
.contacto__oficina {
  display: flex;
  margin: 15px 30px;
}
.contacto__oficina .contacto__icono {
  font-size: 40px;
  margin-right: 20px;
  color: #0058b5;
}
.contacto__oficina div .contacto__dato {
  grid-area: contacto__dato;
  font-size: 26px;
  margin-top: -10px;
}
.contacto__oficina div .contacto__description {
  grid-area: contacto__description;
  font-size: 18px;
  margin-top: -10px;
}
.contacto__planta {
  display: flex;
  margin: 15px 30px;
}
.contacto__planta .contacto__icono {
  font-size: 40px;
  margin-right: 20px;
  color: #0058b5;
}
.contacto__planta div .contacto__dato {
  grid-area: contacto__dato;
  font-size: 26px;
  margin-top: -10px;
}
.contacto__planta div .contacto__description {
  grid-area: contacto__description;
  font-size: 18px;
  margin-top: -10px;
}
.contacto__punto {
  display: flex;
  margin: 15px 30px;
}
.contacto__punto .contacto__icono {
  font-size: 40px;
  margin-right: 20px;
  color: #0058b5;
}
.contacto__punto div .contacto__dato {
  grid-area: contacto__dato;
  font-size: 26px;
  margin-top: -10px;
}
.contacto__punto div .contacto__description {
  grid-area: contacto__description;
  font-size: 18px;
  margin-top: -10px;
}
.contacto .formulario {
  grid-area: formulario;
  margin: 80px 30px 0 30px;
}
.contacto .formulario__input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 30px;
}
.contacto .formulario__input div .input {
  margin-bottom: 0px;
  padding: 14px 0px 14px 14px;
  border: 1px solid #c3c3c3;
  background-color: #eee;
  outline: none;
  transition: border 0.5s;
  width: 100%;
}
.contacto .formulario__input div .input:hover {
  border: 1px solid #0058b5;
}
.contacto .formulario__input div .input:focus {
  border: 1px solid #0058b5;
}
.contacto .formulario__input #mensaje {
  margin-bottom: 30px;
  margin-top: 25px;
  padding: 14px 0px 14px 14px;
  border: 1px solid #c3c3c3;
  background-color: #eee;
  outline: none;
  transition: border 0.5s;
  width: 100%;
  font-family: "Mukta-Regular";
}
.contacto .formulario__input #mensaje:hover {
  border: 1px solid #0058b5;
}
.contacto .formulario__input #mensaje:focus {
  border: 1px solid #0058b5;
}
.contacto .formulario__input .submit {
  width: 100%;
  padding: 1.2em;
  outline: none;
  border: 0;
}

.formulario__input .block {
  grid-column: 1/3;
}

@media (max-width: 768px) {
  /* PAGINAS DE CONTACTO */
  /* contenedor grid */
  .contacto {
    margin-top: 44px;
    margin-bottom: 44px;
    display: inline-block;
  }
  /* titulo de contacto */
  .contacto__title {
    line-height: 1.1;
    margin: 20px 20px 44px 20px;
    font-size: 44px;
    height: auto;
  }
  .espaciado {
    display: inline;
  }
  /* datos de la empresa */
  .contacto__phone {
    display: flex;
    margin: 25px 30px;
  }
  .contacto__mail {
    display: flex;
    margin: 25px 30px;
  }
  .contacto__oficina {
    display: flex;
    margin: 25px 40px;
  }
  .contacto__planta {
    display: flex;
    margin: 25px 40px;
  }
  .contacto__punto {
    display: flex;
    margin: 25px 40px;
  }
  /* Formulario */
  .formulario {
    max-width: 768px;
    margin: 40px 30px 0 30px;
  }
  .formulario__input {
    display: inline-block;
    width: 100%;
  }
  #mensaje {
    margin-bottom: 30px;
    margin-top: 0px;
    transition: border 0.5s;
    width: 100%;
  }
  #mensaje:focus {
    border: 2px solid #0052B5;
  }
  .input {
    margin-bottom: 0px;
    transition: border 0.5s;
    width: 100%;
  }
  .input:focus {
    border: 2px solid #0052B5;
  }
  .submit {
    width: 100%;
    padding: 1.2em;
    outline: none;
    border: 0;
    margin-bottom: 44px;
  }
}
@media (max-width: 576px) {
  /* PAGINAS DE CONTACTO */
  /* contenedor grid */
  .contacto {
    margin-top: 44px;
    margin-bottom: 44px;
    display: inline-block;
  }
  /* titulo de contacto */
  .contacto__title {
    line-height: 1.1;
    margin: 20px 20px 44px 20px;
    font-size: 44px;
    height: auto;
  }
  .espaciado {
    display: inline;
  }
  /* datos de la empresa */
  .contacto__phone {
    display: flex;
    margin: 25px 30px;
  }
  .contacto__mail {
    display: flex;
    margin: 25px 30px;
  }
  .contacto__oficina {
    display: flex;
    margin: 25px 40px;
  }
  .contacto__planta {
    display: flex;
    margin: 25px 40px;
  }
  .contacto__punto {
    display: flex;
    margin: 25px 40px;
  }
  /* Formulario */
  .formulario {
    margin: 0px 30px 0 30px;
  }
  .formulario__input {
    display: inline-block;
    width: 100%;
  }
  #mensaje {
    margin-bottom: 30px;
    transition: border 0.5s;
    width: 100%;
  }
  #mensaje:focus {
    border: 2px solid #0052B5;
  }
  .input {
    margin-bottom: 0px;
    transition: border 0.5s;
    width: 100%;
  }
  .input:focus {
    border: 2px solid #0052B5;
  }
  .submit {
    width: 100%;
    padding: 1.2em;
    outline: none;
    border: 0;
    margin-top: -20px;
    margin-bottom: 44px;
  }
}
main section .footer__logo {
  display: none;
}
main section .footer__cta {
  display: none;
}

/* footer */
.footer {
  background-color: #232323;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f5f6f7;
  padding: 20px 30px;
}

.rs-linkedin {
  font-size: 20px;
  color: #f5f6f7;
  padding: 10px;
  transition: all 0.5s;
}
.rs-linkedin:hover {
  color: #0e76a8;
}

.rs-facebook {
  font-size: 20px;
  color: #f5f6f7;
  padding: 10px;
  transition: all 0.5s;
}
.rs-facebook:hover {
  color: #3b5998;
}

.rs-youtube {
  font-size: 20px;
  color: #f5f6f7;
  padding: 10px;
  transition: all 0.5s;
}
.rs-youtube:hover {
  color: #c4302b;
}

@media (max-width: 768px) {
  main section .footer__logo {
    display: block;
    width: 35%;
    margin: 40px 20px 0 20px;
  }
  main section .footer__cta {
    display: inline-block;
    margin: 10px 20px 40px 20px;
    padding: 15px 40px;
    text-align: left;
  }
  .footer__content {
    display: inline-block;
    color: #e2e8f0;
    padding: 30px 20px 20px 20px;
  }
}
@media (max-width: 576px) {
  main section .footer__logo {
    width: 25%;
  }
  main section .footer__cta {
    display: inline-block;
    margin: 10px 20px 40px 20px;
    padding: 15px 40px;
    text-align: left;
  }
}/*# sourceMappingURL=estilo.css.map */