/* PAGE INICIO */
main {
    .portada {
        text-transform: uppercase;
        height: 600px;
        background: linear-gradient(125deg,rgba(0,0,0,.9) 50%, transparent), url(../assets/img/foto\ de\ portada.jpg);
        background-size: cover;

        &__title {
            font-size: 64px;
            line-height: 1em;
            width: 60%;
            color: $fontLight;
            font-weight: 700;
            margin-top: 0px;
            margin-left: 60px;
            padding-top: 10%;
            letter-spacing: 2px;
        }
        
        &__cta {
            display: inline-block;
            margin-top: 20px;
            margin-left: 60px;
            padding: 15px 30px;
            text-align: center;
        }
    }

    .servicios__card {
        @include templateGrid(3);
        max-width: 1230px;
        margin: -50px auto 50px auto;
        background-color: $secondaryBgC;
        border: solid $secondaryBgC 1px;

        .card {
            background-color: $mainBgC;
            padding: 30px 50px;
            border-color: $secondaryBgC;

            &__header {
                position: relative;

                &-img {
                    width: 25%;
                    border-radius: 2px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            &__title {
                font-size: 26px;
                margin-bottom: 20px;
                line-height: 1.2;
            }

            &__description {
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
    }

    .sectores {
        background-color: $tertiaryBgC;
        margin: 88px;

        .sector__title {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            font-size: 40px;
        }
        
        .sector__images {
            @include templateGrid(5);
            justify-items: center;

            img {
                width: 35%;
            }
        }

    }

    .slider__productos {
        text-align: left;
        margin-bottom: 110px;

        .slider__title {
            font-size: 64px;
            margin-left: 65%;
            color: $fontLight;
        }
        
        .slider__subtitle {
            font-size: 36px;
            font-weight: 200;
            margin-left: 65%;
            font-family: Mukta-Light;
            color: $fontLight;
        }
        
        .slider__cta {
            display: inline-block;
            margin-top: 20px;
            margin-left: 65%;
            padding: 15px 30px;
        }
    }

    .snosotros {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 1230px;
        height: 50vh;
        margin: 88px auto 44px auto;
        gap: 1px;

        &__img {
            .snosotros__logo {
                width: 90%;
                padding: 5px;
            }
        }
        
        &__content {
            margin-left: 20px;

            .snosotros__title {
                font-size: 44px;
                margin-bottom: 25px;
                line-height: 1.2;
            }
            
            .snosotros__description {
                margin-bottom: 15px;
                font-size: 16px;
            }
            
            .snosotros__cta {
                display: inline-block;
                margin-top: 20px;
                padding: 15px 30px;
                display: block;
                overflow: auto;
                position: absolute;
            }
        }
    }

    .marcas {
        margin: 0;
        border-top: solid 1px $secondaryBgC;
        background-color: $mainBgC;
        padding: 88px 0;

        &__title {
            margin-left: 60px;
            font-size: 44px;
            margin-bottom: 24PX;
        }
        
        &__images {
            @include templateGrid(6);
            max-width: 92%;
            margin: 0px auto 0px auto;
            justify-content: space-between;
            
            img {
                width: 180px;
                /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
                margin: -20px 0;
            }
        }
    }

    @media (max-width: $bpMedium) {
        .portada {
            text-transform: uppercase;
            max-width: 768px;
            height: 500px;
            background: linear-gradient(125deg,rgba(0,0,0,.9) 25%, transparent), url(../assets/img/foto\ de\ portada.jpg);
            background-size: cover;
            background-position: right;

            &__title {
                font-size: 36px;
                line-height: 1em;
                width: 50%;
                color: $fontLight;
                font-weight: 700;
                margin-top: 0px;
                margin-left: 5%;
                padding-top: 15%;
                letter-spacing: 2px;
                line-height: 1.2em;
            }

            &__cta {
                display: inline-block;
                margin-top: 20px;
                margin-left: 5%;
                padding: 15px 30px;
                text-align: center;
            }
        } 

        .servicios__card {
            @include templateGrid(1);
            max-width: 768px;
            margin: -50px auto 50px auto;
            gap: 20px;
            background-color: $secondaryBgC;
            border: solid $secondaryBgC 1px;
            padding: 40px 20px;

            .card {
                background-color: $mainBgC;
                padding: 50px 100px;
                border-color: $secondaryBgC;

                &__header {
                    position: relative;

                    &-img {
                        width: 40%;
                        border-radius: 2px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                &__title {
                    font-size: 26px;
                    margin-bottom: 20px;
                    line-height: 1.2;
                }
            
                &__description {
                    margin-bottom: 30px;
                    font-size: 18px;
                }
            }
        }
    
        .sectores {
            background-color: $tertiaryBgC;
            margin: 44px 14px;

            .sector__title {
                display: flex;
                justify-content: center;
                margin-bottom: 44px;
                font-size: 36px;
            }
        
            .sector__images {
                @include templateGrid(5);
                justify-items: center;

                img {
                    width: 100%;
                }
            }
        }
       
        .carousel {
            display: none;
        }

        .snosotros {
            @include templateGrid(1);
            max-width: 768px;
            height: auto;
            margin: 120px 5% 150px 5%;

            &__logo {
                display: none;
            }
        
            &__content {
                margin: 0;

                .snosotros__title {
                    font-size: 44px;
                    margin-bottom: 25px;
                    line-height: 1.2;
                }
            
                .snosotros__description {
                    margin-bottom: 15px;
                    font-size: 16px;
                }
            
                .snosotros__cta {
                    display: inline-block;
                    margin-top: 20px;
                    padding: 15px 30px;
                    display: block;
                    overflow: auto;
                    position: absolute;
                } 
            }
        }
    
 
        .marcas {
            margin: 0;
            border-top: solid 1px $secondaryBgC ;
            background-color: $mainBgC;
            padding: 44px 5%;

            &__title {
                font-size: 36px;
                margin: 24px 0 24px 0;
            }
        
            &__images {
                @include templateGrid(4);
                max-width: 768px;
                margin: 0px auto 0px auto;
                justify-content: space-between;

                img {
                    width: 100%;
                    /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
                    margin: -10px 0;
                }
            }
        }    
    }

    @media (max-width: $bpSmall) {
        
        .portada {
            text-transform: uppercase;
            max-width: 576px;
            height: 500px;
            background: linear-gradient(125deg,rgba(0,0,0,.9) 25%, transparent), url(../assets/img/foto\ de\ portada.jpg);
            background-size: cover;
            background-position: right;

            &__title {
                font-size: 36px;
                line-height: 1em;
                width: 50%;
                color: $fontLight;
                font-weight: 700;
                margin-top: 0px;
                margin-left: 5%;
                padding-top: 15%;
                letter-spacing: 2px;
                line-height: 1.2em;
            }
        
            &__cta {
                display: inline-block;
                margin-top: 20px;
                margin-left: 5%;
                padding: 15px 30px;
                text-align: center;
            }
        }

        .servicios__card {
            @include templateGrid(1);
            max-width: 480px;
            margin: -50px auto 50px auto;
            gap: 20px;
            background-color: $secondaryBgC;
            border: solid $secondaryBgC 1px;
            padding: 40px 20px;

            .card {
                background-color: $mainBgC;
                padding: 30px 50px;
                border-color: $secondaryBgC;

                &__header {
                    position: relative;

                    &-img {
                        width: 40%;
                        border-radius: 2px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                &__title {
                    font-size: 26px;
                    margin-bottom: 20px;
                    line-height: 1.2;
                }
            
                &__description {
                    margin-bottom: 30px;
                    font-size: 18px;
                }
            }
        }

        .sectores {
            background-color: $tertiaryBgC;
            margin: 0 20px;

            .sector__title {
                display: flex;
                justify-content: center;
                margin-bottom: 44px;
                font-size: 24px;
            }
        
            .sector__images {
                @include templateGrid(5);
                justify-items: center;

                img {
                    width: 60%;
                }
            }
        }

        .carousel {
            display: none;
        }
    
        .snosotros {
            @include templateGrid(1);
            max-width: 480px;
            height: auto;
            margin: 80px 5% 120px 5%;

            &__logo {
                display: none;
            }
        
            &__content {
                margin: 0;

                .snosotros__title {
                    font-size: 44px;
                    margin-bottom: 25px;
                    line-height: 1.2;
                }
            
                .snosotros__description {
                    margin-bottom: 15px;
                    font-size: 16px;
                }
            
                .snosotros__cta {
                    display: inline-block;
                    margin-top: 20px;
                    padding: 15px 30px;
                    display: block;
                    overflow: auto;
                    position: absolute;
                } 
            }
        }
    
        .marcas {
            margin: 0;
            border-top: solid 1px $secondaryBgC ;
            background-color: $mainBgC;
            padding: 44px 5%;

            &__title {
                font-size: 28px;
                margin: 0 0 24px 0;
            }
        
            &__images {
                @include templateGrid(3);
                max-width: 480px;
                margin: 0px auto 0px auto;
                justify-content: space-between;

                img {
                    width: 100%;
                    /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
                    margin: -10px 0;
                }
            }
        }
    }
}



