/* PAGE INICIO */
main {
    .portada {
        text-transform: uppercase;
        height: 600px;
        background: linear-gradient(125deg,rgba(0,0,0,.9) 50%, transparent), url(../assets/img/foto\ de\ portada.jpg);
        background-size: cover;

        &__title {
            font-size: 64px;
            line-height: 1em;
            width: 60%;
            color: #fff;
            font-weight: 700;
            margin-top: 0px;
            margin-left: 60px;
            padding-top: 10%;
            letter-spacing: 2px;
        }
        
        &__cta {
            display: inline-block;
            margin-top: 20px;
            margin-left: 60px;
            padding: 15px 30px;
            text-align: center;
        }
    }

    .servicios__card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1230px;
        margin: -50px auto 50px auto;
        gap: 1px;
        background-color: #eee;
        border: solid #eee 1px;

        .card {
            background-color: #fff;
            padding: 30px 50px;
            border-color: #eee;

            &__header {
                position: relative;

                &-img {
                    width: 25%;
                    border-radius: 2px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

            &__title {
                font-size: 26px;
                margin-bottom: 20px;
                line-height: 1.2;
            }

            &__description {
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
    }

    .sectores {
        background-color: #f5f6f7;
        margin: 88px;

        .sector__title {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
            font-size: 40px;
        }
        
        .sector__images {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            justify-items: center;

            img {
                width: 35%;
            }
        }

    }

    .slider__productos {
        text-align: left;
        margin-bottom: 110px;

        .slider__title {
            font-size: 64px;
            margin-left: 65%;
            color: #fff;
        }
        
        .slider__subtitle {
            font-size: 36px;
            font-weight: 200;
            margin-left: 65%;
            font-family: Mukta-Light;
            color: #fff;
        }
        
        .slider__cta {
            display: inline-block;
            margin-top: 20px;
            margin-left: 65%;
            padding: 15px 30px;
        }
    }

    .snosotros {
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 1230px;
        height: 50vh;
        margin: 88px auto 44px auto;
        gap: 1px;

        &__img {
            .snosotros__logo {
                width: 90%;
                padding: 5px;
            }
        }
        
        &__content {
            margin-left: 20px;

            .snosotros__title {
                font-size: 44px;
                margin-bottom: 25px;
                line-height: 1.2;
            }
            
            .snosotros__description {
                margin-bottom: 15px;
                font-size: 16px;
            }
            
            .snosotros__cta {
                display: inline-block;
                margin-top: 20px;
                padding: 15px 30px;
                display: block;
                overflow: auto;
                position: absolute;
            }
        }
    }

    .marcas {
        margin: 0;
        border-top: solid 1px #eee ;
        background-color: #fff;
        padding: 88px 0;

        &__title {
            margin-left: 60px;
            font-size: 44px;
            margin-bottom: 24PX;
        }
        
        &__images {
            display: grid;
            max-width: 92%;
            grid-template-columns: repeat(6, 1fr);
            margin: 0px auto 0px auto;
            justify-content: space-between;
            
            img {
                width: 180px;
                /* filter: grayscale(100%);   filtro para poner las imágenes en escala de grises */
                margin: -20px 0;
            }
        }
    }
}
