/* PAGINAS DE NOSOTROS */
/* Seccion portada */
.sobren {
    height: 85vh;
    background-image: url(../assets/img/Sobre\ Nosotros.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 89px;
        line-height: 1em;
        color: $fontLight;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

.nosotros {
    @include templateGrid(3);
    max-width: 100%;
    margin: 0px auto 0px auto;
    background-color: $secondaryBgC;

    /* Seccion sobre nosotros */
    &__content {
        background-color: $tertiaryBgC;
        padding: 150px 50px;

        .nosotros__title {
            font-size: 48px;
            margin-bottom: 20px;
            line-height: 1.1;
        }
        
        .nosotros__description {
            margin-bottom: 30px;
            font-size: 16px;
        }
    }

    #segunda__columna {
        background: url(../assets/img/Fondo\ -\ Por\ qué\ nosotros.png);
    }
}





