/* color de fondo página */
.bg-p {
    background-color: $mainBgC;

    .fabricacion {
        height: 45vh;
        background-image: url(../assets/img/Fabricación\ -\ Bandeja\ portacable.png);
        background-size: cover;

        &__title {
            @extend .encabezado__productos;
        }
    }
    
    .iluminacion {
        height: 45vh;
        background-image: url(../assets/img/Iluminación\ -\ Panel\ LED.png);
        background-size: cover;

        &__title {
            @extend .encabezado__productos;
        }
    }
    
    .interruptores {
        height: 45vh;
        background-image: url(../assets/img/Fabricación\ -\ Tablero\ eléctrico.png);
        background-size: cover;

        &__title {
            @extend .encabezado__productos;
        }
    }

    /* grid pag productos */
    .contenedor__productos {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        margin-top: 64px;
        margin-bottom: 64px;

        /* contenedor izquierdo */
        .productos__content {
            margin-left: 30px;

            &-title {
                font-size: 28px;
            }

            .productos__atajo {
                padding: 10px 0;

                &-items {
                    text-decoration: none;
                    list-style-type: none;
                    color: $fontDark;   
                    line-height: 1.5;
                    border-bottom: solid 1px #e1e1e1;
                    padding: 10px 0;
                    font-size: 18px;
                    width: 80%;

                    a {
                        color: $fontDark;
                        transition: all 0.5s;

                        &:hover {
                            color: $mainColor;
                            font-weight: 500;
                        }
                    }            
                }
            }

            /* Módulo brochure */
            .contenedor__brochure {
                background-color: $tertiaryBgC;
                padding: 40px 60px 40px 60px;
                width: 80%;
                height: 220px;
                border-radius: 2px;
                margin-top: 40px;

                .brochure {
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 26px;
                }

                .descargar__catalogo {
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 16px;
                }
                
                .descargar__pdf {
                    display: inline-block;
                    width: 100%;
                    padding: 15px 0;
                    text-align: center;
                    letter-spacing: 1px !important;
                }
            }

            /* Módulo contacto */
            .contenedor__contacto-p {
                background-color: $mainColor;
                padding: 40px;
                padding-bottom: 15px;
                width: 80%;
                height: auto;
                border-radius: 2px;
                margin-top: 40px;

                .contacto__icono-p {
                    position: relative;
                    text-align: center;

                    .contacto__img-p {
                        width: 40%;
                        border-radius: 2px;
                        margin-bottom: 20px;
                    }
                }

                .contacto__title-p {
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 30px;
                    color: $fontLight;
                    line-height: 2rem;
                    letter-spacing: 1px;
                }
                
                .contacto__description-p {
                    text-align: center;
                    font-size: 16px;
                    color: $fontLight;

                    span {
                        display: block;
                        font-weight: 600;
                        letter-spacing: 1px;
                        margin-bottom: 20px;
                    }
                }

                .contacto__numero-p {
                    text-align: center;
                    font-size: 22px;
                    color: $fontLight;
                    margin-bottom: 20px;
                }
                
                .efecto__linea {
                    height: 2px;
                    background-color: $fontLight;
                    margin-top: 0px;
                    margin-bottom: 30px;
                }
            }
            
        }

        /* productos */
        .productos__cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 0.3fr 0.3fr 0.3fr;
            font-size: 28px;
            margin-right: 30px;
            gap: 0 30px;

            .block__line {
                grid-column: 1 / 4;
            }

            /* Galeria de productos - card */
            .pcard {
                background-color: $mainBgC;
                margin-bottom: 30px;
                padding: 20px;
                width: 280px;
                border-radius: 2px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.05) translateY(-4px);
                }

                &__header {
                    position: relative;
                    text-align: center;

                    &-img {
                        height: 50%;
                        width: 64%;
                        border-radius: 2px;
                    }
                }

                &__title {
                    font-size: 20px;
                    margin-bottom: 10px;
                    line-height: 1.3em;
                }
                
                &__description {
                    margin-bottom: 10px;
                    font-size: 14px;
                }
            }
        } 
    }

    /* Seccion Preguntas frecuentes */
    .contenedor__accordion {
        background-color: $tertiaryBgC;
        height: 60vh;

        div {
            .title__pf {
                font-size: 28px;
                margin-left: 30px;
                padding-top: 60px;
            }
        }

        .seccion__accordion {
            max-width: 97%;
            margin-top: 20px;
            margin-bottom: 120px;

            .accordion-body {
                color: $mainColor;
                background-color: $tertiaryBgC;
                border: solid $secondaryBgC 1px;
            }
        }
    }
}

@media (max-width: $bpMedium) {

        .bg-p {
            background-color: $mainBgC;
            max-width: $bpMedium;
            
            .fabricacion {
                height: 45vh;
                background-image: url(./assets/img/Fabricación\ -\ Bandeja\ portacable.png);
                background-size: cover;
    
                &__title {
                    @extend .encabezado__productos--t;
                }
            }
        
            .iluminacion {
                height: 45vh;
                background-image: url(./assets/img/Iluminación\ -\ Panel\ LED.png);
                background-size: cover;
    
                &__title {
                    @extend .encabezado__productos-t;
                }
            }
        
            .interruptores {
                height: 45vh;
                background-image: url(./assets/img/Fabricación\ -\ Tablero\ eléctrico.png);
                background-size: cover;
    
                &__title {
                    @extend .encabezado__productos-t;
                }
            }
    
            .contenedor__productos {
                display: inline-block;
                margin-top: 64px;
                margin-bottom: 64px;
    
                .productos__atajo-items {
                    width: 100%;
                }
    
                .contenedor__brochure {
                    padding: 40px 25% 40px 25%;
                    width: 100%;
                    height: 240px;
                    border-radius: 0px;
                    margin-top: 20px;
    
                    .descargar__pdf {
                        display: inline-block;
                        width: 100%;
                        padding: 15px 0;
                        text-align: center;
                        letter-spacing: 1px !important;
                    }
                }
    
                .contenedor__contacto-p {
                    padding: 40px;
                    padding-bottom: 10px;
                    width: 100%;
                    height: auto;
                    border-radius: 0px;
                    margin-top: 0;
    
                    .contacto__icono-p {
                        position: relative;
                        text-align: center;
                    } 
    
                    .efecto__linea {
                        margin: 0 10px 30px 10px;
                    }
                }
            }
    
            .productos__cards {
                display: inline-block;
                font-size: 28px;
                margin-right: 40px;
    
                .block__line {
                    display: block;
                    margin: 24px 20px 20px 24px;
                }

                .pcard {
                    background-color: $mainBgC;
                    margin: 24px 20px 20px 20px;
                    padding: 60px;
                    width: 100%;
                    border-radius: 2px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    transition: transform 0.5s;

                    &:hover {
                        transform: scale(1) translateY(-4px);
                    }

                    &__header {
                        position: relative;
                        text-align: center;

                        &-img {
                            height: 50%;
                            width: 60%;
                            border-radius: 2px;
                        }
                    }
                
                    &__title {
                        font-size: 20px;
                        margin-bottom: 10px;
                        line-height: 1.3em;
                    }
                
                    &__description {
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
            }

            .contenedor__accordion {
                height: 70vh;
    
                .seccion__accordion {
                    max-width: 760px;
                    margin-top: 20px;
                    margin-bottom: 60px;
                }
            }
        }
    }
 
    

@media (max-width: $bpSmall) {

    .bg-p {
        background-color: $mainBgC;
        max-width: $bpSmall;

        .contenedor__accordion {
            height: 45vh;
        }
    }
}