@font-face {
    font-family: 'Mukta-Bold';
    src: url('../assets/ttf/Mukta-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Mukta-Regular';
    src: url('../assets/ttf/Mukta-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Mukta-Light';
    src: url('../assets/ttf/Mukta-Light.ttf');
    font-style: normal;
}