main {
    section {
        .footer__logo {
            display: none;
        }

        .footer__cta {
            display: none;
        }
    }
}

/* footer */
.footer {
    background-color: #232323;

    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $tertiaryBgC;
        padding: 20px 30px;
    }
}

// mapa
$iconSocialMedia: (
    linkedin: #0e76a8,
    facebook: #3b5998,
    youtube: #c4302b,
);

// ciclo - bucle
@each $nameSocialMedia, $colorIcon in $iconSocialMedia {
    .rs-#{$nameSocialMedia} {
        font-size: 20px;
        color: $tertiaryBgC;
        padding: 10px;
        transition: all 0.5s;

        &:hover {
            color: $colorIcon;
        }
    }
}

@media (max-width: $bpMedium) {

    main {
        section {
            .footer__logo {
                display: block;
                width: 35%;
                margin: 40px 20px 0 20px;
            }
    
            .footer__cta {
                display: inline-block;
                margin: 10px 20px 40px 20px;
                padding: 15px 40px;
                text-align: left;
            }
        }
    }

    .footer__content{
        display: inline-block;
        color: #e2e8f0;
        padding: 30px 20px 20px 20px;
    }
}

@media (max-width: $bpSmall) {

    main {
        section {
            .footer__logo {
                width: 25%;
                
            }
    
            .footer__cta {
                display: inline-block;
                margin: 10px 20px 40px 20px;
                padding: 15px 40px;
                text-align: left;
            }
        }
    }
}