// colors
$mainColor: #0058b5;
$secondaryColor: #0058f9;
$fontLight: #fff;
$fontDark: #000;
$mainBgC: #fff;
$secondaryBgC: #eee;
$tertiaryBgC: #f5f6f7;

// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// fonts
$fontBase: 16px;
$fontMedium: $fontBase + 10;
$fontLarge: $fontBase + 20;

